
.container{
    width: 600px;
    display: flex;
    border: 1px solid black;
    

}


.item{
    background-color: aquamarine;
    margin: 5px;
    flex-shrink: 1;
}


.one{
    min-width: 300px;
}
.two{
        min-width:  300px;

}

.three{
        min-width: 300px;

}